
.rate {
  text-align: center;
  height: 50px;
  padding: 0 10px;
}
.rate:not(:checked) > input {

  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  text-align: justify;
  padding: 25px;
  float: right;
  width:1.5em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:60px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


/* .rateshow {
  text-align: left;
  height: auto;
  padding: 0;
}
.rateshow .checked{
  text-align: left;
  padding: 12px;
  float: left;
  width:1.2em;
  overflow:hidden;
  white-space: nowrap;
  font-size:30px;
  color:#ccc;
}
.rateshow .checked:before{
  content: '★ ';
}
.rateshow .checked2{
  text-align: left;
  padding: 12px;
  float: left;
  width:1.2em;
  overflow:hidden;
  white-space: nowrap;
  font-size:30px;
  color:#ffc700; 
}
.rateshow .checked2:before{
  content: '★ ';
}
.rateshow span{
  text-align: left;
  padding-top: 8%;
  padding-left: 5%;
  float: left;
  width:4em;
  overflow:hidden;
  white-space: nowrap;
  font-size:20px;
  color:#000000; 
} */


.indexrate {
  text-align: left;
  height: auto;
  padding: 0;
}
.indexrate .checked{
  text-align: left;
  padding: 12px;
  float: left;
  width:1.2em;
  overflow:hidden;
  white-space: nowrap;
  font-size:30px;
  color:#ccc;
}
.indexrate .checked:before{
  content: '★ ';
}
.indexrate .checked2{
  text-align: left;
  padding: 12px;
  float: left;
  width:1.2em;
  overflow:hidden;
  white-space: nowrap;
  font-size:30px;
  color:#ffc700; 
}
.indexrate .checked2:before{
  content: '★ ';
}











 .popup-container{
  position: fixed;
  top:-120%; left:0;
  z-index: 1000;
  background:rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
} 

.popup-container.toggle{
  top:0%;
}

.popup-container .popup{
  background:#fff;
  text-align: center;
  margin:10px;
  padding:10px;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  border-radius: 5px;
  position: relative;
}

.popup-container .popup h3{
  color:#444;
  padding:20px 40px;
  font-size: 25px;
}

.popup-container .popup .btn{
  margin:10px;
  font-size: 30px;
  height:55px;
  width: 180px;
  background: rgb(86, 209, 86);
  color: white;
}


.popup-container .popup #close{
  position: absolute;
  top:-15px; right:-15px;
  border-radius: 50%;
  border:4px solid #ff6933;
  height:40px;
  width:40px;
  line-height: 30px;
  cursor: pointer;
  background:#333;
  color:#fff;
  font-size: 20px;
}

.popup-container .popup #close:hover{
  height:45px;
  width:45px;
  line-height: 35px;
  font-size: 25px;
}


.hide{
 display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: #000000;
}

.ck-editor__editable {
    min-height: 250px;
}
